@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body {
    background-color: rgb(33, 203, 114);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.mainBody {
    width: 75%;
    height: 70%;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}

.styles1{
    width: 100%;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}

.heading {
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

input {
    border: none;
    outline: none;
    width: 80%;
    border-bottom: 2px solid black;
    margin-top: 10px;
}
#f{
    margin-top: 10%;
   
}

.boxx{
    display: flex;
   

    margin-top: 20%;
}
.ss{
    padding-top: 14px;
}
#Convert{
    background-color: black;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    color: white;

}
#Clear{
    border: none;
    background: none;
    margin-left: 45%;
    margin-top: 20px;
    
}

@media only screen and (max-width: 600px) and (min-width: 400px) {

    .mainBody {
        max-width: 65%;
    }
}

@media only screen and (max-width: 2200px) and (min-width: 900px) {

    .mainBody {
        width: 35%;
        height: 70%;
    }
}